#player_profile {
    display: grid;
    grid-template-columns: 15% 20% auto auto;
    background-color:white;
    border-radius: 10px;
    height: 7rem;
}

#profile_icon {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin-left: 1.2rem;
    margin-top: .5rem;
}

#matches {
    background-color: lightblue;
}

.match {
    display: grid;
    grid-template-columns: 15% 25% 20% 35% 5%;
    background-color:white;
    border-radius: 10px;
    padding-bottom: 0rem;
    margin-bottom: .75rem;
}

.match_meta_data {
    padding-left: 1rem;
    margin-right: 1rem;
}

.player_images {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
}

.player_match_info {
    display: grid;
    grid-template-columns: 60% 40%;
}

.player_match_info_upper {
    display: grid;
    grid-template-columns: 30% auto;
    margin-left: 2rem;
}

.player_champ_icon {
    border-radius: 50%;
    height: 4.25rem;
    width: 4.25rem;
    margin-top: 1rem;
}

.player_summoner_spells {
    margin-top: 1.25rem;
    margin-left: 1rem;
}

.summoner_spell_icons {
    height: 1.75rem;
    width: 1.75rem;
}

.item_icons {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}

.player_stats {
    padding-top: 1rem;
}

.teams {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 0.25rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
}

.team1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wteam2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.team_icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}