body {
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    height: 3rem;
}

.home_link {
    color: white;
}

.player_card {
    margin-top: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
}

.player_card_info {
    display: grid;
    grid-template-columns: 25% auto;
}

.profile_icon {
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
}

#player_text {
    margin-left: 5px;
}

#icon {
    margin-top: 1.25rem;
}

.match {
    display: grid;
    grid-template-columns: 20% auto 30%;
    background-color: lightskyblue;
    margin: 5px;
    height: 100%;
}

.match_metadata {
    margin-top: 2.5rem;
}

.top_playerdata {
    display: grid;
    grid-template-columns: 15% 10% 30% auto;
}

#champ_icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.item_icons {
    height: 2.25rem;
    width: 2.25rem;
    margin-bottom: 5px;
}

.match_teams {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1rem;
}

.team1 {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.team2 {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.header {
    color:white;
}

.nav_search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_search {
    display: flex;
    align-items: center;
    justify-content: center;
}