{% extends 'base.html' %}

{% block title %}Player Stats{% endblock %}

{% block nav_search %}
    <form class="nav_search">
        <input type="text" id="search_name" name="search_name" placeholder="Enter name">
        <input type="submit" value="Enter">
    </form>
{% endblock %}

{% block content %}
    <div class="player_card">
        {% if method == 'POST' %}
            <p>{{ data[1]['queueType'] }}: {{ data[1]['tier'] }} {{ data[1]['rank'] }}</p>
        {% else %}
            <p>{{ data['summoner_name']}}</p>
            {% if method == 'redirect' %}
                <p>Error using riot api.</p>
            {% endif %}
        {% endif %}

        <form class="stats_update" action="{{ url_for('site.stats') }}" method="post">
            <input type="text" name="summoner_name" value="{{ data['summoner_name'] }}" hidden>
            <input type="text" name="tagline" value="{{ data['tagline'] }}" hidden>
            <input type="submit" value="Update">
        </form>
    </div>
    
{% endblock %}