{% extends 'base.html' %}

{% block title %}Player Stats{% endblock %}

{% block nav_search %}
    <form class="nav_search">
        <input type="text" id="search_name" name="search_name" placeholder="Enter name">
        <input type="submit" value="Enter">
    </form>
{% endblock %}

{% block content %}
    <div class="player_card">
        <p>{{ session['summoner_name'] }}</p>
        {% if leagues|length > 0 %}
            <p>{{ leagues[0]['queueType'] }}: {{ leagues[0]['tier'] }} {{ leagues[0]['rank'] }}</p>
        {% else %}
            <p>We don't have this player's ranked data. Try updating or make sure they have played their placement matches.</p>
        {% endif %}

        <form class="stats_update" action="{{ url_for('site.stats') }}" method="post">
            <input type="text" name="summoner_name" value="{{ session['summoner_name'] }}" hidden>
            <input type="text" name="tagline" value="{{ session['tagline'] }}" hidden>
            <input type="submit" value="Update">
        </form>
    </div>

    <div class="matches">
        {% for i in range(metadata|length) %}
            <div class="match">
                {{ metadata[i]['platformId'] }}
                {{ participants[i][0]['riotIdGameName'] }}
            </div>
        {% endfor %}
    </div>
    
{% endblock %}